@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.addRoutineform {
    width: 50vw;
   
}

h2{
    font-family: 'Roboto', sans-serif;
}

.routineSubmitBtn{
    background-color: #2ec4b6;
    padding: 20px 100px;
    color: white;
    border: none;
    margin-top: 5px;
}