.exerciseCardImage {
    width:80px;
}

.card-component {
    text-align: center;
}
.btnDelete{
    background-color: white;
    border-color: black;
    border-radius: 8px;
}
.btnDelete:hover{
    background-color: black;
    color:white
}